server:
  port: 8080
  servlet:
    context-path: /identity
spring:
  datasource:
    url: ${DBMS_CONNECTION:jdbc:mysql://localhost:3306/shopapp}
    username: ${DBMS_PASSWORD:root}
    password: ${DBMS_USERNAME:root}
    driverClassName: "com.mysql.cj.jdbc.Driver"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
jwt:
  signerKey: "KBFH5tKwkMxbapkifkeoj1W8XtSy9O4rsnzwzSnVo5wu/736wxHVVNmmdlrLJWPF"
  valid-duration: 3600
  refreshable-duration: 36000
app:
  upload:
    dir: uploads/

